<div class="sticky-top bg-dark d-flex align-content-center">
  <a href="" class="active nav-link text-white">
    <h1><i>Citizens Bank</i></h1>
  </a>
  <ul class="align-content-center container nav nav-pills justify-content-end">
    <li class="nav-item"><a  style="color: #fff; padding: 10px 20px; background-color: rgb(74, 187, 190); border-radius: 50px;" routerLink="/loginEmployee">Employee Login
      </a>
    </li>
    <li class="nav-item"><a  style="color: #fff; padding: 10px 20px; background-color: rgb(74, 187, 190); border-radius: 50px;" routerLink="/loginCustomer">Customer Login
      </a>
    </li>
  </ul>
</div>
