<section>

  <app-header></app-header>

  <br>
  <br>
  <!-- body div container 1 -->
 
  <div style="text-align: center;">
    <img src="../../assets/images/logocb.png" alt="logo" height="50px">
  </div>
  <br>
  <div class="container" style="object-fit: cover;">
    <h2 class="text-centre" style="text-align: center;">Welcome to Citizens Bank</h2>

    <p class="container" style="font-size: larger; text-align: center;">Banking at your fingertips ...!</p>
  </div>

  <br>

  <div class="container text-white" style="object-fit: cover;">
    <div class="jumbotron bg-cover"
      style="background-image: url('../../assets/images/welcome.jpg');background-repeat: no-repeat;background-size: 1120px 400px; width:1120px; height: 400px;">
    </div>
  </div>

  <br>
  <br>

  <!-- Body div container 2 -->
  <div style="background-color: rgba(207, 220, 221, 0.582);">
  <div class="container card-group ">
    <div class="card">

      <div style="margin-bottom: 52px;">
        <img src="../../assets/images/Online-Banking.png" alt="">
      </div>
      <div class="card-body p-5 my-10" style="background-color: rgb(100, 186, 189);">
        <h5 class="card-title">Online Banking</h5>
        <p class="card-text" >You can do a variety of banking transactions and access to an extensive range of features, right from where you are, in just a few clicks.</p>

        </div>
    </div>

    <div class="card">

      <div>
        <img src="../../assets/images/Digital-Money.png" alt="">
      </div>
      <div class="card-body p-5 my-10" style="background-color: rgb(222,135,114);">
        <h5 class="card-title">Digital Money</h5>
        <p class="card-text" >You are never too far away from quick,
          efficient banking services. Send Money Online.</p>

        </div>

    </div>
    <div class="card">

      <div>
        <img src="../../assets/images/online-money-transfer.png" alt="">
      </div>
      <div class="card-body p-5 my-10" style="background-color: rgb(100, 186, 189);">
        <h5 class="card-title">Online Money Transfer</h5>
        <p class="card-text"> With our Internet Banking solutions, you can now say goodbye to long queues and unwanted delays.</p>
      </div>
      
    </div>
    <div class="card">
      
      <div>
        <img src="../../assets/images/secure-payments.png" alt="">
      </div>
      <div class="card-body p-5 my-10" style="background-color: rgb(222,135,114);">
        <h5 class="card-title">Secure Payments</h5>
        <p class="card-text">It helps in safe transmission of credit card information via the internet so that hackers and online thieves cannot access it without your permission.</p>
          
        </div>
      </div>
      
  </div>
</div>
  <br>
  <br>
</section>

<footer>
  <div style=" margin-bottom: -22px; background-color: #525252; text-align: center; color: #fff; padding: 15px 0 1px 0;">
    <p>&copy; CTS INTCDE22IJ066 POD-4</p>
  </div>
</footer>
